:8000 {
	root * /app/public

	php_fastcgi 127.0.0.1:9000

	file_server

	encode gzip

	header {
		-Server
		-X-Powered-By
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Permissions-Policy "geolocation=(), camera=(), microphone=(self), display-capture=(), usb=(), bluetooth=(), serial=()"
		X-Permitted-Cross-Domain-Policies none
		Cross-Origin-Resource-Policy same-site
	}

	log {
		output stdout
		format console
	}
}
